* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #800020;
    --secondary-color: #1F7A55;
    --font-size-large: 18px;
}

nav {
    background-color: var(--secondary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    position: relative;

    width: 20rem;
    margin: var(--margin);
    border: var(--border);
    /*1*/
    padding: var(--padding);
    background-color: var(--background-color);
    color: var(--colorcolor);
    font-size: var(--font-size-large);
    text-align: left;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    /*added the float to the right declaration*/
    width: 150px;
    height: auto;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: left;
}

/*Class Selector*/
.box {
    --margin: 1rem;
    --border: 1px solid rgb(0, 0, 0 / 0.10%);
    --padding: 1rem;
    --background-color: #ddd;
    --color: #000;
}